@import "../../../../stylesheets/index"

.badge
  position: relative
  display: inline-block
  border-radius: 50%

  &_red
    background: $error40

  &_yellow
    background: $attention40

  &_blue
    background: $primary40

  &_green
    background: $success40

  &_gray
    background: $neutral40

  &_small
    width: 8px
    height: 8px

  &_medium
    width: 12px
    height: 12px
