@import "../../../../stylesheets/index"

.dateWithTime
  position: relative
  @include interFont(13px, 600)
  line-height: 20px
  letter-spacing: 0.01px
  font-feature-settings: 'cv03' on, 'cv04' on
  color: $grey-white
