@import "../../../../stylesheets/index"

.avatar
  position: relative
  width: 32px
  height: 32px
  border: 1px solid $grey-white
  box-sizing: border-box
  border-radius: 50%

  &__image
    width: 100%
    height: 100%
    border-radius: 50%
    object-fit: cover
