@import "../../../../stylesheets/index"

.tag
  position: relative
  display: inline-flex
  background: $grey-white
  @include interFont(11px)
  line-height: 16px
  color: $neutral90
  padding: 4px 6px 4px 8px
  border-radius: 14px
  align-items: center

  &__remove
    position: relative
    border-radius: 50%
    width: 12px
    height: 12px
    background: $neutral50
    padding: 0
    margin: 0 0 0 2px
    cursor: pointer
    border: 0
    transition: all 0.2s

    &:before, &:after
      position: absolute
      left: 50%
      top: 50%
      display: inline-flex
      content: ''
      width: 7px
      height: 1px
      background: $grey-white

    &:before
      transform: translate(-50%, -50%) rotate(45deg)

    &:after
      transform: translate(-50%, -50%) rotate(-45deg)

    &:active
      transform: scale(0.9)


  &__body
    *
      margin-right: 6px
