@import "../../../../stylesheets/index"

.leadCard
  position: relative
  display: block
  @include interFont(15px)
  padding: 16px 16px 15px 16px;
  background: #FFFFFF
  box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.14)
  border-radius: 4px
  margin: 0 auto 4px 0
  cursor: default
  &:last-child
    margin-bottom: 0

  &__wrapper
    display: flex
    align-items: center
    margin: 0 0 4px 2px
 
  &__title
    font-weight: 600
    font-size: 15px
    line-height: 20px
    margin: 0 0 4px 0
    text-align: initial
    width: 70%
    
    &_titleType
      &_default
        color: inherit
      &_error
        color: $error60

  &__timer
    position: absolute
    top: 16px
    right: 16px
    font-weight: 600
    font-size: 13px
    line-height: 20px
    letter-spacing: 0.01em
    
    &_timerType
      &_success
        color: $success60
      &_warning
        color: $warning50
      &_error
        color: $error60

  &__detailsWrapper
    margin-bottom: 8px;

  &__detailsItem
    display: block
    font-size: 11px
    line-height: 16px
    letter-spacing: 0.02em
    color: #B4B4B4
    text-align: initial
    margin-bottom: 2px;
    
  &__companyName
    font-weight: 600
    font-size: 13px
    line-height: 20px
    letter-spacing: 0.01em
    margin: 0 0 6px 0
    text-align: initial

  &__wrapperIcon
    width: 20px
    height: 20px
    display: flex
    align-items: center
    justify-content: center

  &__fullName,
  &__leadChannel
    font-weight: normal
    font-size: 13px
    line-height: 20px
    margin: 0 0 0 8px
  
  &__linksWrapper
    display: flex
    justify-content: flex-end
    margin-top: 8px

  &__link
    font-size: 13px
    line-height: 20px
    text-decoration: none
    display: block
    color: $primary60
    text-align: end
    margin: -4px 16px 0 0 
    border-bottom: 1px transparent solid

    &:hover
      color: $primary70
      border-bottom: 1px $primary70 solid
    
    &:last-child
      margin-right: 0
