@import "../../../../stylesheets/index"

.layout
  position: relative
  display: flex
  flex: 1

  &__sidebar
    width: 80px

  &__content
    display: flex
    flex-direction: column
    flex: 1

  &__body
    background: $cold-gray10
    flex: 1
