@import "../../../../stylesheets/index"

.widgetTaskListItem
  $root: &
  position: relative
  padding: 12px 28px 12px 16px
  border-bottom: 1px solid $grey10
  height: 76px
  cursor: pointer
  transition: color .2s, text-decoration .2s

  &:hover
    #{$root}__title
      color: $primary70
      text-decoration: underline


  &:last-child
    border-bottom: 0
    margin-bottom: 0

  &:after
    content: ''
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    width: 4px
    height: calc(100% - 28px)

  &_red
    &:after
      background: $error40

  &_yellow
    &:after
      background: $yellow40

  &_blue
    &:after
      background: $primary40

  &_green
    &:after
      background: $success40

  &_gray
    &:after
      background: $neutral40

  &_last
    border-bottom: 0
    margin-bottom: 0

  &__title
    @include interFont(13px)
    line-height: 16px
    color: $grey90
    height: 33px
    overflow: hidden
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2


  &__date
    position: absolute
    bottom: 10px
    @include interFont(11px)
    line-height: 16px
    letter-spacing: 0.02px
    color: $grey50

  &__expired
    position: absolute
    top: 12px
    right: 0
