@import "../../../../stylesheets/index"

.tasks
  position: relative
  padding: 0 24px 24px

  &__switcher
    margin-right: 30px

  &__selectbox
    margin-right: 25px

    &:last-child
      margin-right: 0
