@import "../../../../stylesheets/index"

.switch
  $root: &
  position: relative
  display: inline-flex

  &_checked

    #{$root}__slider
      background: $blue60

      &:before
        transform: translateX(12px)

  &__input
    display: none

  &__label
    @include interFont(13px)
    line-height: 16px
    color: $neutral90
    margin-right: 8px
    cursor: pointer
    user-select: none

  &__container
    position: relative
    width: 28px
    height: 16px

  &__slider
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: $neutral50
    transition: .2s
    border-radius: 12px

    &:before
      position: absolute
      content: ""
      height: 12px
      width: 12px
      left: 2px
      bottom: 2px
      background-color: white
      transition: .2s
      border-radius: 50%
