@import "../../../../stylesheets/index"

.option
  background: $grey-white
  padding: 6px 14px
  @include interFont(13px)
  line-height: 20px
  color: $neutral90
  cursor: pointer
  user-select: none

  &:hover
    background: $neutral05
    color: $primary60

  &_disabled
    color: $neutral30
    cursor: not-allowed

    &:hover
      background: $grey-white
      color: $neutral30
