@import "../../../../stylesheets/index"

.widget
  position: relative
  width: 100%
  background: $grey-white
  box-shadow: 0 0.9px 2px rgba(0, 0, 0, 0.28)
  border-radius: 2px
  //padding: 13px 16px 8px
  height: 440px
  overflow: auto

  &__left
    flex: 1
    display: flex
    align-items: center

  &__right
    flex: 0 0 30px
    display: flex
    justify-content: flex-end

  &__header
    display: flex
    align-items: center
    border-bottom: 1px solid $grey10
    cursor: pointer
    height: 44px
    margin: 0 16px 8px 20px

  &__icon
    display: flex
    margin-right: 11px

    svg
      path
        fill: $grey50

  &__title
    @include interFont(15px, 600)
    line-height: 20px
    color: $grey90

  &__link
    display: flex


  &__content
    flex: 1
    padding: 0 16px
