@import "../../../../stylesheets/index"

.widget-statistics
  position: relative
  border-radius: 2px 2px 0 0
  border: 1px solid $grey10
  height: 76px
  display: flex
  flex-direction: column

  &__header
    background: $grey10
    padding: 6px 8px
    @include interFont(11px, 500)
    line-height: 16px
    letter-spacing: 0.02px

  &__body
    display: flex
    flex: 1
    align-items: center


  &__column
    position: relative
    flex: 1
    padding: 4px
    text-align: center
    @include interFont(18px, 600)
    line-height: 24px
    color: $grey90

    &_expired
      color: $red60

    &:first-child
      &:after
        content: ''
        position: absolute
        right: -1px
        top: 0
        height: 100%
        width: 1px
        background: $neutral10

  &__text
    @include interFont(11px)
    line-height: 16px
    letter-spacing: 0.2px
    color: $grey50
