@import "../../../../stylesheets/index"

.table
  position: relative
  width: 100%
  border: 0
  padding: 0
  margin: 0
  border-collapse: separate
  border-spacing: 0 4px

  &__row
    position: relative

    &_cursor
      cursor: pointer

  &__header
    position: relative
    @include interFont(13px, 600)
    line-height: 20px
    background: $grey-white
    color: $grey90
    text-align: left
    padding: 10px 10px 10px 12px

    &:after
      content: ''
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
      background: $grey20
      opacity: 0.8
      width: 1px
      height: 16px

  &__column
    position: relative
    @include interFont(13px)
    line-height: 16px
    color: $grey90
    padding: 12px 12px
    background: $grey-white

  &__dots
    position: relative
    display: flex
    width: 3px
    height: 3px
    background: $grey50
    border-radius: 50%
    margin: 0 auto
    cursor: pointer

    &:before, &:after
      content: ''
      position: absolute
      top: 0
      display: flex
      width: 3px
      height: 3px
      background: $grey50
      border-radius: 50%


    &:before
      left: -6px

    &:after
      left: 6px

  &__priority

    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 4px

    &_error
      &:before
        background: $error40

    &_attention
      &:before
        background: $attention40

    &_primary
      &:before
        background: $primary40

    &_success
      &:before
        background: $success40

    &_neutral
      &:before
        background: $neutral40

