@import "../../../../stylesheets/index"

.priorityPanelItem
  position: relative
  flex: 1
  @include interFont(15px)
  line-height: 24px
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  cursor: default

  &__wrapper
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    margin: 0 2px 0 1px
    padding: 8px 0

    &:hover
      background: #F4F4F4
      border-radius: 4px
  
  &__innerItem
    
    &:not(:first-child)
      margin-left: 7px

    &_attention
      @include interFont(15px, 600)
      color: $red60

  &:nth-child(3n)
    &:after
      display: none

  &:after
    position: absolute
    right: 0
    content: ''
    display: flex
    width: 1px
    height: 24px
    background: $grey10

  &__value
    position: relative
    font-weight: 600
    margin-left: 5px
    color: $green

    &_attention
      color: $red60

  &__link
    width: 24px
    height: 24px
    display: flex
    align-items: center
    margin-left: 10px
  