@import "../../../../stylesheets/index"

.fullName
  position: relative

  &__name
    @include interFont(13px, 600)
    line-height: 20px
    letter-spacing: 0.01px
    font-feature-settings: 'cv03' on, 'cv04' on
    color: $grey-white

  &__post
    @include interFont(11px)
    line-height: 16px
    letter-spacing: 0.2px
    font-feature-settings: 'cv03' on, 'cv04' on
    color: $cold-grey40
