@import "../../../../stylesheets/index"

.timePicker
  position: relative

  &__icon
    display: flex
    position: absolute
    top: 9px
    right: 15px
    z-index: 10

    svg
      path
        fill: $neutral50

  input
    width: 268px
    @include interFont(13px, 400)
    line-height: 20px
    border-radius: 4px
    border: 1px solid $neutral20
    padding: 6px 40px 6px 12px
    color: $neutral50

\:global
  .rdt
    .rdtPicker
      display: none

      table
        width: 100%
        table-layout: fixed
        overflow-wrap: break-word

    &.rdtOpen
      .rdtPicker
        display: block
        position: absolute
        width: 100%
        top: 48px
        right: 0
        background: $grey-white
        padding: 20px 12px 12px
        border-radius: 4px
        filter: drop-shadow(0px 0.6px 1.8px rgba(0, 0, 0, 0.1)) drop-shadow(0px 3.2px 7.2px rgba(0, 0, 0, 0.14))

    .rdtSwitch
      display: none

    .rdtCounters
      display: flex
      align-items: center
      justify-content: center

      .rdtCounter

        .rdtCount
          text-align: center
          @include interFont(15px, 400)
          line-height: 20px
          margin: 11px

        .rdtBtn
          position: relative
          left: 2px
          color: $grey-white
          margin: 0 11px
          cursor: pointer
          user-select: none

          &:first-child

            &:before, &:after
              content: ''
              position: absolute
              width: 8px
              height: 1px
              top: 8px
              cursor: pointer
              user-select: none

            &:before
              background: $neutral50
              transform: rotate(-45deg)
              left: 0

            &:after
              background: $neutral50
              transform: rotate(45deg)
              right: 0

          &:last-child

            &:before, &:after
              content: ''
              position: absolute
              width: 8px
              height: 1px
              top: 8px
              cursor: pointer
              user-select: none

            &:before
              background: $neutral50
              transform: rotate(45deg)
              left: 0

            &:after
              background: $neutral50
              transform: rotate(-45deg)
              right: 0


        .rdtCounterSeparator
          @include interFont(15px, 400)
          line-height: 20px




