@import "../../../../stylesheets/index"

.datepickerInput
  position: relative
  display: inline-flex

  &__icon
    display: flex
    position: absolute
    top: 7px
    right: 15px
    z-index: 10

    svg
      path
        fill: $neutral50

// Plugin https://react-day-picker.js.org/

\:global

  .DayPickerInput
    input
      width: 268px
      @include interFont(13px, 400)
      line-height: 20px
      border-radius: 4px
      border: 1px solid $neutral20
      padding: 6px 40px 6px 12px
      color: $neutral50

  .DayPickerInput-Overlay
    background: $grey-white
    padding: 20px 12px 12px
    z-index: 5000

  .DayPicker
    display: inline-block
    font-size: 1rem

  .DayPicker-wrapper
    position: relative
    flex-direction: row
    user-select: none

  .DayPicker-Months
    display: flex
    flex-wrap: wrap
    justify-content: center

  .DayPicker-Month
    display: table
    border-spacing: 0
    border-collapse: collapse
    user-select: none

  .DayPicker-NavBar

  .DayPicker-NavButton
    position: absolute
    top: 6px
    right: 1px
    left: auto
    width: 8px
    height: 8px
    cursor: pointer
    display: inline-flex
    border-width: 1px 1px 0 0
    border-style: solid
    border-color: $grey90

    &:hover
      opacity: 0.8

  .DayPicker-NavButton--prev
    margin-right: 27px
    transform: rotate(225deg)

  .DayPicker-NavButton--next
    transform: rotate(45deg)


  .DayPicker-NavButton--interactionDisabled
    display: none

  .DayPicker-Caption
    display: table-caption
    text-align: left
    text-transform: capitalize
    color: $neutral90
    margin-bottom: 20px

    > div
      @include interFont(13px, 600)
      line-height: 20px
      padding: 0 0 0 8px

  .DayPicker-Weekdays
    display: table-header-group

  .DayPicker-WeekdaysRow
    display: table-row

  .DayPicker-Weekday
    display: table-cell
    text-align: center
    @include interFont(11px)
    line-height: 16px
    text-transform: capitalize
    padding: 8px 9px

    abbr[title]
      border-bottom: none
      text-decoration: none

  .DayPicker-Body
    display: table-row-group

  .DayPicker-Week
    display: table-row

  .DayPicker-Day
    display: table-cell
    border-radius: 50%
    vertical-align: middle
    text-align: center
    cursor: pointer
    @include interFont(11px)
    line-height: 16px
    color: $neutral90
    padding: 8px

  .DayPicker-WeekNumber
    display: table-cell
    padding: 0.5em
    min-width: 1em
    border-right: 1px solid #EAECEC
    color: #8B9898
    vertical-align: middle
    text-align: right
    font-size: 0.75em
    cursor: pointer

  .DayPicker--interactionDisabled .DayPicker-Day
    cursor: default

  .DayPicker-Footer
    padding-top: 0.5em

  .DayPicker-TodayButton
    border: none
    background-color: transparent
    background-image: none
    box-shadow: none
    color: #4A90E2
    font-size: 0.875em
    cursor: pointer

  /* Default modifiers

  .DayPicker-Day--today
    color: $primary60


  .DayPicker-Day--outside
    color: $neutral30
    cursor: default

  .DayPicker-Day--disabled
    color: #DCE0E0
    cursor: default

  /* background-color: #eff1f1;

  /* Example modifiers

  .DayPicker-Day--sunday
    background-color: #F7F8F8

    &:not(.DayPicker-Day--today)
      color: #DCE0E0

  .DayPicker-Day--selected:not(.DayPicker-Day--disabled)
    position: relative
    background-color: #4A90E2
    color: #F0F8FF

    &:hover
      background-color: #51A0FA

  .DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover
    background-color: #F0F8FF

  /* DayPickerInput

  .DayPickerInput
    display: inline-block

  .DayPickerInput-OverlayWrapper
    position: relative

  .DayPickerInput-Overlay
    position: absolute
    left: 0
    z-index: 1
    background: white
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15)

  .Selectable
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end)
    background-color: $primary60 !important
    color: $grey-white

  .DayPicker-Day
    border-radius: 0 !important

  .DayPicker-Day--start
    background: $primary60 !important

  .DayPicker-Day--end
    background: $primary60 !important
