@import "../../../../stylesheets/index"

.menu-item
  display: flex

  &__link
    display: flex
    flex-direction: column
    @include interFont(11px)
    line-height: 16px
    text-align: center
    letter-spacing: 0.02px
    flex: 1
    justify-content: center
    padding: 15px 2px 4px
    color: $cold-grey30
    text-decoration: none
    cursor: pointer !important

    &:hover
      background: $blue80

    &_is_active
      background: $blue100

    path
      fill: rgb(48, 127, 255)

  &__icon
    margin-bottom: 3px
