@import "../../../../stylesheets/index"

.tabBarNav
  position: relative
  @include interFont(15px)
  line-height: 24px
  color: $grey50
  border: 0
  padding: 0 20px 10px
  margin: 0
  background: transparent
  cursor: pointer

  &_isActiveTab
    color: $grey90

    &:after
      content: ''
      position: absolute
      bottom: -2px
      left: 0
      width: 100%
      height: 2px
      background: $blue60
