@import "../../../../stylesheets/index"

.tab-bar
  position: relative
  width: 100%

  &__navigation
    display: flex
    align-items: center
    border-bottom: 2px solid $cold-grey30
    margin-bottom: 12px


  &__container
    position: relative
