@import "../../../../stylesheets/index"

.priorityColumn
  position: absolute
  width: 4px
  height: 100%
  display: inline-flex
  left: 0
  top: 0

  &_red
    background: $error40

  &_yellow
    background: $attention40

  &_blue
    background: $primary40

  &_green
    background: $success40

  &_gray
    background: $neutral40
