@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')

@mixin interFont($size: 14px, $weight: normal)
  font-family: 'Inter', sans-serif
  font-size: $size
  font-weight: $weight
  font-style: normal
  @content

@function calculateRem($size)
  $remSize: $size / 16px
  @return #{$remSize}rem
