\:global
  html
    height: 100%

  body
    min-height: 100%
    display: flex
    flex-direction: column
    padding: 0
    margin: 0

  #__next, #root
    display: flex
    flex-direction: column
    flex: 1

  *
    box-sizing: border-box

  *
    outline: none
