@import "../../../../../stylesheets/index"

.item-event
  position: absolute
  top: 9px
  border-radius: 2px
  width: 100%
  @include interFont(11px)
  line-height: 16px
  color: $neutral90
  padding: 3px 0 0 12px
  border-width: 0 0 3px 3px
  border-color: #fff
  border-style: solid
  z-index: 15
  cursor: pointer

  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 4px
    border-radius: 2px 0 0 2px

  &_red
    background: $error10

    &:after
      background: $error40

  &_yellow
    background: $attention10

    &:after
      background: $attention40

  &_green
    background: $success10

    &:after
      background: $success40

  &_blue
    background: $primary10

    &:after
      background: $primary40


  &__view
    position: absolute
    top: 0
    left: -10px
    z-index: 50
    background: yellow


