@import "../../../../../stylesheets/index"

.calendar-list
  position: relative
  overflow-y: auto
  max-height: 425px

  &__item
    position: relative
    height: 80px

    &:after
      content: ''
      position: absolute
      top: 47px
      right: 0
      width: calc(100% - 20px)
      height: 1px
      border-bottom: 1px dashed $neutral10
      z-index: 30

  &__line
    position: relative
    @include interFont(11px)
    line-height: 16px
    color: $grey50

    &:after
      content: ''
      position: absolute
      top: 50%
      right: 0
      width: calc(100% - 28px)
      height: 1px
      background: $neutral10

  &__hour
    position: relative
    display: inline-flex
    z-index: 10
    background: $grey-white
    padding: 0 7px 0 0
    width: 17px



