@import "../../../../stylesheets/index"

.link
  display: block
  cursor: pointer
  text-decoration: none
  font-size: 24px
  line-height: 20px
  border-bottom: 1px transparent solid
  &_type
    &_primary
      color: $primary60
    &_secondary
      color: $neutral90
  &_size
    &_15
      font-size: 15px;
      line-height: 24px;
    &_13
      font-size: 13px;
      line-height: 20px;

  &:focus,
  &:hover
    border-bottom: 1px $primary70 solid

  