@import "../stylesheets/index"

\:global
  @import "node_modules/flexboxgrid-sass/flexboxgrid"

  html, body
    margin: 0
    padding: 0
    min-width: 1200px
    overflow-x: auto

  html
    height: 100%

  body
    height: 100%

    #root
      height: 100%
      @include interFont()

  *
    box-sizing: border-box
    &:before,
    &:after
      box-sizing: border-box



  .no-padding
    padding-right: 0
    padding-left: 0

  .sb-show-main
    background: #EDF0F4

  *
    outline: none

  .d-flex
    display: flex
