@import "../../../../stylesheets/index"

.priorityPanel
  position: relative
  background: $grey-white
  box-shadow: 0 0.9px 2px rgba(0, 0, 0, 0.28)
  display: flex
  width: 100%
  min-height: 48px
  margin: 0 auto 20px

  &:after
    content: ''
    position: absolute
    width: 100%
    height: 4px
    top: -4px
    left: 0
    z-index: 10
    background: $blue50
