@import "../../../../stylesheets/index"

.notificationPanel
  @include interFont(13px)
  position: relative
  display: flex
  align-items: center
  margin: 0 12px 0 16px
  padding: 12px
  background: $success10
  box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1), 0px 6.4px 14.4px rgba(0, 0, 0, 0.14)

  &:before
    content: ''
    position: absolute
    width: 4px
    height: 100%
    top: 0
    left: -4px
    z-index: 10
    background: $green
  
  &_warningBackground
    background: $warning10
    &:before
      background: $warning50

  &__iconWrapper
    margin-right: 15px
    margin-bottom: 10px

  &__contentWrapper
    margin-right: auto
    cursor: default

  &__linksWrapper
    display: flex
    
  &__linkItem
    margin-right: 25px
  
  &__linkItem:last-child
    margin-right: 0px

  &__button
    position: relative
    margin-left: 18px
    padding: 0
    right: 0px
    top: 0px
    width: 32px
    height: 32px
    opacity: 1
    border: none
    cursor: pointer
    background-color: transparent

    &:hover 
      opacity: 1
    
    &:before, &:after
      position: absolute
      content: ' '
      top: calc(50% - 8px)
      height: 15px
      width: 2px
      background-color: #7E7E7E

    &:before 
      transform: rotate(45deg)
    
    &:after 
      transform: rotate(-45deg)

  &__contentWrapper
    font-size: 13px
    line-height: 20px
    letter-spacing: 0.01em

  &__contentTitle
    font-weight: 600

  &__contentTitleStatus
    color: #128238
    &_warning
      color: #FF5C22

  &__contentCompany
    font-size: 13px
    line-height: 20px
    letter-spacing: 0.01em