@import "../../../../stylesheets/index"

.selectbox
  $root: &
  position: relative

  &_open
    visibility: visible

    #{$root}__arrow
      transform: rotate(180deg)
      top: 2px

    #{$root}__list
      display: block

  &__select
    @include interFont(13px)
    line-height: 20px
    color: $blue60
    display: inline-flex
    align-items: center
    cursor: pointer
    user-select: none

  &__arrow
    position: relative
    margin-left: 12px
    transition: all 0.2s

  &__list
    position: absolute
    display: none
    top: 38px
    right: 0
    padding: 8px 0
    border-radius: 2px
    background: $grey-white
    min-width: 240px
    z-index: 5000
    text-align: left
    box-shadow: 2px 4px 5px 0 rgba(0,0,0,0.3)


  &__option
    padding: 6px 14px
    @include interFont(13px)
    line-height: 20px
    color: $neutral90
    cursor: pointer

    &:hover
      background: $neutral05
      color: $primary60


