@import "../../../../stylesheets/index"

.checkbox
  $root: &
  position: relative

  &_checked
    position: relative

    #{$root}__inner
      background: $primary60
      border-color: $primary60

      &:after
        content: ''
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        display: inline-block
        width: 10px
        height: 7px
        background-repeat: no-repeat
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.50987 6.4444C3.83448 6.74963 4.36777 6.73873 4.68079 6.4226L9.80503 1.19008C10.0833 0.895752 10.0601 0.448808 9.75866 0.187182C9.45723 -0.0744436 8.97031 -0.0635428 8.69207 0.230786L4.06635 4.96185L1.28396 2.34559C0.994125 2.07307 0.507207 2.07307 0.217374 2.34559C-0.0724581 2.61812 -0.0724581 3.07597 0.217374 3.34849L3.50987 6.4444Z' fill='white'/%3E%3C/svg%3E")

  &__wrapper
    display: inline-flex
    align-items: center
    width: 100%

    &_disabled
      #{$root}__inner
        border-color: $neutral30
        cursor: not-allowed

  &__native
    display: none
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    opacity: 0
    cursor: pointer

  &__inner
    display: block
    border: 1px solid $neutral50
    border-radius: 4px
    width: 16px
    height: 16px
    cursor: pointer

  &__label
    display: flex
    width: 100%
    @include interFont(13px)
    line-height: 20px
    color: $neutral90
    margin-left: 10px
    user-select: none
    cursor: pointer

    &:empty
      margin-left: 0
