@import "../../../../stylesheets/index"

.header
  position: relative
  display: flex
  justify-content: space-between
  padding: 16px 23px 16px 24px
  align-items: center
  height: 64px
  background: $blue90

  &__left
    position: relative

  &__right
    position: relative
    display: flex
    align-items: center

  &__date
    margin-right: 19px
